<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Homepage" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Homepage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Yolo" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="image"></ion-icon>
      <ion-label>Yolo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Settings" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
