.background {
  --background: #e8f2fd !important;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  height: 100vh;            /* Prend toute la hauteur de l'écran */
}

.page {
  display: flex;
  flex-direction: column;  /* Arrange les éléments en colonne */
  justify-content: center; /* Centre les éléments à la verticale */
  align-items: center;     /* Centre les éléments à l'horizontale */
  width: 100%;             /* S'assure que la page prend toute la largeur */
}

.texte {
  padding-top: 30%;
  width: 70%;
  color: black;
  font-size: 30px;
  font-family: 'Arial Black', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  background: white;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  --background: white; /* Assure que l'input lui-même a un fond blanc */
  color: black;        /* Texte noir dans l'input */
  --placeholder-color: grey; /* Assure que le placeholder est visible si besoin */
  border-bottom: 0px;
}

.button {
  --background: white;
  border: 4px solid black;
  box-shadow: inset 0 0 0 2px black;
  border-radius: 10px;
  margin-top: 40px;
  box-sizing: border-box;
  color: black;
  font-size: 25px;
  font-family: 'Arial Black', sans-serif;
  width: 70%;
}


