

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Besoin d'aide ?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Si vous avez des questions ou rencontrez des problèmes, n'hésitez pas à nous contacter</p>
      <ion-button expand="block" (click)="callSupport()">
        Appeler le support
      </ion-button>
      <ion-button expand="block" (click)="openEmail()">
        Envoyer un e-mail
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="button" routerLink="/tabs/tab1">
      <div>Accueil</div>
    </ion-button>
</ion-content>

